<@override name="header" >
<script type="text/javascript" >
    function edit(){
        $.post("edit",$("#myform").serialize(),function(data){
            if(data.result==1) alert("修改成功~") ;
            window.parent.location.reload() ;
        });
    }

</script>
</@override>
<@override name="body" >

<form action="" method="post" id="myform" >
    <input type="hidden" name="sysroleid" value="${role.sysroleid}">
    <table>
        <tr>
            <td>角色名</td>
            <td><input type="text" name="rname" value="${role.rname}" ></td>
        </tr>
        <tr>
            <td>排序</td>
            <td><input type="text" name="rorder" value="${role.rorder}" ></td>
        </tr>
        <tr>
            <td>备注</td>
            <td><input type="text" name="remark" value="${role.remark!''}" ></td>
        </tr>
    </table>
    <input type="button" value="edit" onclick="edit();">
</form>

</@override>
<@extends name="/common/template/empty.ftl" />